{{define "info"}}
    {{ template "header" . }}

    <div class="container" id="info-page">

        <div class="jumbotron">
            <h1><i class="fas fa-times-circle"></i> Site Disabled</h1>
        </div>

        {{ template "flashes" . }}

        xx

    </div>

    {{ template "footer" . }}
{{end}}
