{{define "hcaptcha"}}

    {{ if eq .Env "production" }}
        <label for="message">Captcha</label>
        <div class="h-captcha" data-sitekey="{{ .HCaptchaPublic }}" data-theme="{{ if .GetCookieFlag "dark" }}dark{{end}}"></div>
    {{ end }}

{{end}}
