#chat-page {

    .jumbotron {
        img {
            height: 105px;
        }
    }

    .media {

        margin-bottom: 0.5rem;
        opacity: 0;

        .media-body {
            p {
                margin-bottom: 0;
            }
        }
    }
}
