#chat-bot-page {

    .jumbotron {
        .btn {
            display: block;
            width: 100%;
            margin-top: 1rem;
        }

        @include media-breakpoint-up(md) {
            .btn {
                display: inline-block;
                width: auto;
                margin-top: 0;
            }
        }
    }

    #regions {
        span {
            @extend .mb-1;
        }

        code {
            font-size: 20px;
            text-transform: uppercase;
            color: white;
        }
    }

    #recent-card .card-body {
        min-height: 7300px;
    }

    #chart {
        height: 300px;
    }
}
