#chat-bot-page {

    .jumbotron {
        img {
            height: 105px;
        }
    }

    #regions {
        span {
            @extend .mb-1;
        }

        code {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}
