#group-page {

    .jumbotron {
        img {
            float: right;
            height: 120px;
            margin: -2rem -2rem -2rem 2rem;
        }
    }

    #group-chart {
        height: 400px;
    }

    #group-description div.card-body {
        overflow: auto;
        max-height: 400px;
    }
}
