body.dark {
    #home-page {
        #panels {
            > a {
                color: #e9ecef;
            }
        }
    }
}

#home-page {

    #hero {
        margin-top: 140px;
        margin-bottom: 140px;
        position: relative;
        pointer-events: none;

        h1 {
            color: #28a745;
            font-family: 'Audiowide', sans-serif;
            text-align: center;
            text-shadow: 0 0 10px #1b2738, 0 0 10px #1b2738;
            font-size: 5rem;
            margin: 0;
        }
    }

    #panels {
        > a {
            color: #212529;
        }
    }

    #tweets {
        i.fa-twitter, svg.fa-twitter {
            color: rgb(29, 161, 242);
        }

        .tweet {
            border-bottom: solid lightgray 1px;
            @extend .mb-2;
            @extend .pb-2;

            p {
                margin-bottom: 0;
            }
        }

        .tweet:last-child {
            border-bottom: none;
            @extend .mb-0;
            @extend .pb-0;
        }
    }

    #players, #updated-players {
        min-height: 500px;
    }

    .games {
        img {
            width: 100%;
            border-bottom: solid 1px white;
        }

        // Fix border right
        .row > div:nth-child(2n+1) img {
            border-right: solid 1px white;
            @include media-breakpoint-up(sm) {
                border-right: none;
            }
        }

        // Fix border bottom
        .row > div:nth-last-child(-n+2) img {
            border-bottom: none;
        }

        @include media-breakpoint-up(sm) {
            .row > div:nth-last-child(-n+2) img {
                border-bottom: solid 1px white;
            }
            .row > div:last-child img {
                border-bottom: none;
            }
        }
    }

    #news {

        min-height: 2000px;

        .media {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            padding-bottom: 1rem;
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: auto;
            }

            .media-body {
                overflow: auto;
            }
        }

        .media:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            .media {
                display: flex;

                img {
                    width: 150px;
                    min-width: 150px;
                    height: 70px;
                }
            }
        }
    }
}
