body.dark {
    #home-page {
        #panels {
            > a {
                color: #e9ecef;
            }
        }
    }
}

#hero {
    margin-top: 140px;
    margin-bottom: 140px;
    position: relative;
    pointer-events: none;

    h1 {
        color: #28a745;
        font-family: 'Audiowide', sans-serif;
        text-align: center;
        text-shadow: 0 0 10px #1b2738, 0 0 10px #1b2738;
        font-size: 5rem;
        margin: 0;
    }
}

#home-page {

    #followers-wrapper {

        position: relative;
        height: 300px;
        z-index: 1;

        #followers {
            height: 300px;
            position: relative;
            z-index: 3;
            margin-right: 305px;
        }

        #followers-legend {
            position: absolute;
            width: 300px;
            height: 300px;
            top: 0;
            right: 0;
            z-index: 2;

            div {
                overflow: hidden;
                white-space: nowrap;
                line-height: 29px;
                height: 29px;
                margin-bottom: 1px;

                img {
                    height: 29px;
                    width: 29px;
                }
            }
        }
    }

    #panels {
        > a {
            color: #212529;
        }
    }

    #tweets {

        i.fa-twitter, svg.fa-twitter {
            color: rgb(29, 161, 242);
        }


        .card-body {

            overflow: auto;

            @include media-breakpoint-up(lg) {
                height: 450px;
            }

            .tweet {

                border-bottom: solid lightgray 1px;
                @extend .mb-4;
                @extend .pb-4;

                p {
                    margin-bottom: 0;
                }

                img {
                    @extend .mb-3;
                    max-width: 100%;
                    max-height: 100px;
                }

                img[src=""] {
                    display: none;
                }
            }

            .tweet:last-child {
                border-bottom: none;
                @extend .mb-0;
                @extend .pb-0;
            }
        }
    }

    #players, #updated-players {
        min-height: 500px;
    }

    .games {

        .card-body {
            a {
                position: relative;
                display: block;

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    border-bottom-right-radius: $border-radius !important;
                    background-color: #ffffff;
                    opacity: .7;
                    color: #212529;
                    text-align: center;
                    line-height: 25px;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .type {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #28a745;
            padding: 1px 4px;
            opacity: 0.9;
        }

        img {
            width: 100%;
            border-bottom: solid 1px white;
        }

        // Fix border right
        .row > div:nth-child(2n+1) img {
            border-right: solid 1px white;
            @include media-breakpoint-up(sm) {
                border-right: none;
            }
        }

        // Fix border bottom
        .row > div:nth-last-child(-n+2) img {
            border-bottom: none;
        }

        @include media-breakpoint-up(sm) {
            .row > div:nth-last-child(-n+2) img {
                border-bottom: solid 1px white;
            }
            .row > div:last-child img {
                border-bottom: none;
            }
        }
    }

    #news {

        min-height: 2500px;

        .media {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            padding-bottom: 1rem;
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: auto;
            }

            .media-body {
                overflow: auto;
            }
        }

        .media:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            .media {
                display: flex;

                img {
                    width: 150px;
                    min-width: 150px;
                    height: 70px;
                }
            }
        }
    }
}
