#news-page {

    #popular {
        .card-header {

            padding-left: 60px;

            img {
                height: 32px;
                margin: 7px 0 0 -40px;;
            }
        }

        .card-body {

            cursor: ns-resize;

            > div {
                @include news-content;
            }
        }

        .card-body.minned {

            box-shadow: 0px -10px 10px -10px #000 inset;

            > div {

                max-height: 250px;
                overflow-y: scroll;

                h1, h2, h3 {
                    font-size: 1rem;
                }

                img {
                    height: 50px;
                    width: auto;
                }

                iframe {
                    pointer-events: none;
                    height: 50px;
                    width: 88.88px;
                }
            }
        }
    }
}
