#player-page {

    #achievements {

        .ch-months {
            margin-bottom: 0;
        }

        .ch-days{
            margin-bottom: 0;
        }

        .ch-graph {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            border: none;
        }

        .ch-legend {
            padding-top: 0;
        }
    }

    #jumbotron {

        img {
            float: right;
            height: 144px;
            margin: -2rem -2rem -2rem 2rem;
        }

        small {
            a {
                @extend .mr-2;
            }
        }
    }

    #details {

        #links {
            img {
                width: 20px;
                height: 20px;
            }
        }

        #history-chart, #ranks-chart {
            height: 250px;
        }

        .rank-chart {
            height: 200px;
        }
    }
}
