#settings-page, #signup-page {

    #password-container {
        input#password {
            background: transparent;
            z-index: 100;
            position: relative;
        }

        div.progress {
            margin-top: -38px;
            height: 38px;
            background: transparent;
        }

        .password-verdict {
            display: none;
        }
    }
}

#settings-page {

    #highlight {
        padding: 0;
        border: none;
        width: 300px;
        background: transparent;
        color: inherit;
    }

    #highlight:focus {
        outline: none;
    }

    #providers {
        .card-header {
            border-bottom: none;

            img {
                @include border-top-right-radius($card-inner-border-radius);

                height: 48px;
                margin-top: -0.75rem;
                margin-bottom: -0.75rem;
            }
        }
    }
}
