#settings-page, #signup-page {

    #password-container {
        input#password {
            background: transparent;
            z-index: 100;
            position: relative;
        }

        div.progress {
            margin-top: -38px;
            height: 38px;
            background: #fff;
        }
    }
}

#settings-page {

    #providers {
        .card-header {
            border-bottom: none;

            img {
                height: 48px;
                margin-top: -0.75rem;
                margin-bottom: -0.75rem;
            }
        }
    }
}
