node_modules/
vendor/
tmp/
logs/
.tscache/
cmd/webserver/cache/

# Files that should be deleted
assets/css/sass/
assets/concatenate.css

# Binaries
cmd/chatbot/chatbot
cmd/consumers/consumers
cmd/crons/crons
cmd/webserver/webserver

# Meta
index.yaml
LICENSE.md
revive.toml
