# Binaries
/cmd/chatbot/chatbot
/cmd/consumers/consumers
/cmd/crons/crons
/cmd/webserver/webserver
/cmd/steam/steam
/cmd/test/test

# Source maps
/cmd/webserver/assets/dist/main.css.map
/cmd/webserver/assets/dist/main.js.map

# Vendors
/node_modules/

# Caches
/cmd/webserver/cache/
/tmp/
/.tscache/

# Other
/cmd/steam/change.txt
/cmd/steam/sentry.txt
LICENSE.md
package.json
package-lock.json
README.md
renovate.json
revive.toml
webpack.config.js
