# Binaries
/cmd/chatbot/chatbot
/cmd/consumers/consumers
/cmd/crons/crons
/cmd/webserver/webserver

# Source maps
/assets/main.css.map
/assets/main.js.map

# Vendors
/node_modules/

# Caches
/cmd/webserver/cache/
/tmp/
/.tscache/

# Other
/cmd/consumers/.change.txt
/cmd/consumers/.sentry.txt
