# Binaries
/cmd/chatbot/chatbot
/cmd/consumers/consumers
/cmd/crons/crons
/cmd/frontend/frontend
/cmd/steam/steam
/cmd/test/test
/cmd/scaler/scaler

# Source maps
/cmd/frontend/assets/dist/main.css.map
/cmd/frontend/assets/dist/main.js.map

# Vendors
/node_modules/
/vendor/

# Caches
/cmd/frontend/cache/
/tmp/
/.tscache/

# Other
/cmd/steam/change.txt
/cmd/steam/sentry.txt
/cmd/frontend/assets/img/chatbot
sqlboiler.toml
