# steamauthority.net

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

55 23 * * * root /etc/init.d/steam restart
0  0  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-ranks.sh
10 1  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-tags.sh
20 1  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-genres.sh
30 1  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-donations.sh
40 1  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-developers.sh
50 1  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-publishers.sh

*  *  * * * root ~/go/src/github.com/steam-authority/steam-authority/cmd/action-donations.sh
