{{define "landing_games"}} {{ template "_header" . }}

<div class="container" id="landing-games-page">

    <div class="jumbotron">
        <h1>Top Steam Games</h1>
    </div>

    {{ template "_flashes" . }}

    <div class="card">
        <div class="card-header">

            <h5>Top Steam Games</h5>

        </div>
        <div class="card-body">

            xx

        </div>
    </div>

</div>

{{ template "_footer" . }} {{end}}