{{define "landing_api"}}
    {{ template "_header" . }}

    <div class="container" id="landing-api-page">

        <div class="jumbotron">
            <h1>Steam API</h1>
        </div>

        {{ template "_flashes" . }}

        <div class="card">
            <div class="card-header">

                <h5>Steam API</h5>

            </div>
            <div class="card-body">

                xx

            </div>
        </div>

    </div>

    {{ template "_footer" . }}
{{end}}
