#app-page {
    .jumbotron {
        img {
            float: right;
            height: 169px;
            margin: -2rem;
        }
    }

    #details {
        p.platforms {
            i, svg {
                margin-right: 3px;
                font-size: 20px;
            }
            i:last-child, svg:last-child {
                margin-right: 0;
            }
        }
    }

    #chart {
        height: 300px;
    }

    #reviews {
        div.progress-bar {
            min-width: 6%;
            max-width: 94%;
        }
    }
}
