.slider {

    padding: 0 15px 0 15px;
    margin-top: 10px;

    label {
        margin-left: -15px;
    }

    .noUi-base {

        .noUi-connect {
            background-color: $link-color;
        }
    }
}
