#app-page {
    .jumbotron {
        img {
            //float: right;
            //height: 169px;
            //margin: -2rem;
        }
    }

    #details {
        p.platforms {
            i, svg {
                margin-right: 3px;
                font-size: 20px;
            }

            i:last-child, svg:last-child {
                margin-right: 0;
            }
        }

        img {
            position: absolute;
            right: 1.25rem;
            height: 150px;
        }

        iframe {
            margin-bottom: -20px;
            height: 190px;
            width: 100%;
        }
    }

    #chart {
        height: 300px;
    }

    #reviews {

        // todo, get these from BS variables
        div[data-vote=true] {
            background-color: #c3e6cb;
        }

        div[data-vote=false] {
            background-color: #f5c6cb;
        }
    }

    #media {
        .carousel-indicators {
            li {
                cursor: pointer;
            }
        }
    }

    #news {
        table.table td {
            cursor: pointer;
        }

        .modal-body {
            img {
                max-width: 100%;
            }
        }
    }
}
