#app-page {

    div.jumbotron {
        small {
            a {
                @extend .mr-2;
            }
        }
    }

    #details {
        img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: auto;
                position: absolute;
                right: 1.25rem;
                height: 150px;
            }
        }
    }

    #players {

        #players-chart {
            height: 250px;
        }
    }

    #reviews {

        #reviews-chart {
            height: 250px;
        }

        // todo, get these from BS variables
        div[data-vote=true] {
            background-color: #c3e6cb;
        }

        div[data-vote=false] {
            background-color: #f5c6cb;
        }
    }

    #media {
        font-size: 0; // Remove white space inbetween images

        #carousel1 {
            //height: 500px;
            margin-bottom: 1px;
            overflow: hidden;

            img, video {
                width: 100%;
                //height: 500px;
            }
        }

        #carousel2 {
            height: 60px;

            div.slick-slide {
                div.thumb {
                    position: relative;

                    img {
                        height: 60px;
                        width: 80px;
                        margin-right: 1px;
                        cursor: pointer;
                        color: #3498db;
                    }

                    i {
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        font-size: 16px;
                        color: #28a745;
                        cursor: pointer;
                    }
                }
            }

            div.slick-current {
                img {
                    border: solid 2px #28a745;
                }
            }
        }
    }

    #news {

        // Normal rows
        table.table tr[role=row] td {
            cursor: pointer;
        }

        // Extra rows
        table.table tr:not([role=row]) td {
            @include news-content;
        }
    }
}
