#app-page {
    .jumbotron {
        img {
            float: right;
            height: 169px;
            margin: -2rem;
        }
    }

    #chart {
        height: 300px;
    }

    p.platforms {
        i, svg {
            margin-right: 3px;
            font-size: 20px;
        }
        i:last-child, svg:last-child {
            margin-right: 0;
        }
    }
}
