html, body {
    //scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    background-size: 100%;
    background: #1b2738 no-repeat center top;
}

div#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    color: #fff;
    font-size: 30px;
    background-color: #28a745;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

div#top.show {
    opacity: 1;
}

.navbar {

    padding: 0.5rem 0;

    .navbar-brand {
        padding: 0;
        img {
            height: 40px;
        }
    }

    .dropdown {
        .dropdown-menu {
            margin: 0;
        }
    }
}

.jumbotron {
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: hidden;

    h1 {
        white-space: nowrap;
        font-size: 2.5rem;
    }
    .lead {
        margin: 0;
    }
    img {
        position: relative;
        z-index: 100;
    }

    @media screen and (min-width: 576px) {
        h1 {
            font-size: 3.5rem;
        }
    }
}

.ad {
    text-align: center;

    .chitikaAdContainer {
        padding: 0;
        margin: 0 0 10px 0;
        height: 90px;
    }
}

.card-body {
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

.small-print {
    margin: 50px 0;
    display: block;
}

[data-link] {
    cursor: pointer;
}

.list-group {
    img.avatar {
        float: left;
        height: 48px;
        margin: -12px 20px -12px -20px;
    }
}

.alert p:last-child {
    margin-bottom: 0;
}

.tooltip-inner {
    //min-width: 200px;
    max-width: 300px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// New item fade
@-webkit-keyframes fade-green {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

@keyframes fade-green {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

.fade-green {
    -webkit-animation: fade-green 2s ease-in 1;
    animation: fade-green 2s ease-in 1;
}

@-webkit-keyframes fade-red {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

@keyframes fade-red {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

.fade-red {
    -webkit-animation: fade-red 2s ease-in 1;
    animation: fade-red 2s ease-in 1;
}
