html {
    overflow-y: scroll;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-size: 100%;
    background: #1b2738 no-repeat center top;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: .1rem;
}

#corner-ribbon {
    position: fixed;
    top: 25px;
    left: -50px;

    z-index: -10;
    width: 200px;
    text-align: center;

    height: 35px;
    line-height: 35px;

    color: #f0f0f0;
    background-color: #28a745;

    transform: rotate(-45deg);
}

div#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    color: #fff;
    font-size: 30px;
    background-color: #28a745;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

div#top.show {
    opacity: 1;
}

.navbar {

    padding: 0.5rem 0;

    .navbar-brand {
        padding: 0;

        img {
            height: 40px;
        }
    }

    .dropdown {
        .dropdown-menu {
            margin: 0;
        }
    }

    .dropdown-mini {
        margin-left: -5px;

        .dropdown-toggle {
            padding-left: 0;
        }
    }

    #header-flag {
        img {
            margin: 0.5rem;
            height: 24px;
        }
    }
}

li.nav-item {
    a.nav-link.nav-link-small {
        padding: .5rem .5rem
    }
}

.jumbotron {
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: hidden;

    .lead {
        margin: 0;
    }

    .social {
        float: right;
        height: 20px;

        > div > span {
            vertical-align: unset !important;
        }
    }

    img {
        position: relative;
        z-index: 100;
    }
}

// Toasts
body #toast-container > div {
    box-shadow: none;
}

// Top ads
#ad-top {
    text-align: center;

    .ad-top-small {
        padding: 0;
        margin: 0 0 10px 0;
        height: 50px;
    }

    .ad-top-big {
        .chitikaAdContainer {
            padding: 0;
            margin: 0 0 10px 0;
            height: 90px;

            img {
                width: 690px;
            }
        }
    }
}

// Side ads
.container:nth-of-type(2) {
    position: relative;

    .ad-left {
        position: absolute;
        left: -160px;
    }

    .ad-right {
        position: absolute;
        right: -160px;
    }
}

.card-body {
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

.small-print {
    margin: 30px 0;
    display: block;
}

[data-link] {
    cursor: pointer;
}

[data-link]:hover, [data-link]:hover span {
    text-decoration: underline;
}

.list-group {
    img.avatar {
        float: left;
        height: 48px;
        margin: -12px 20px -12px -20px;
    }
}

.alert p:last-child {
    margin-bottom: 0;
}

.tooltip-inner {
    //min-width: 200px;
    max-width: 300px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// New item fade
@-webkit-keyframes fade-green {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

@keyframes fade-green {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

.fade-green {
    -webkit-animation: fade-green 2s ease-in 1;
    animation: fade-green 2s ease-in 1;
}

@-webkit-keyframes fade-red {
    0% {
        background: $red;
    }
    100% {
        background: none;
    }
}

@keyframes fade-red {
    0% {
        background: $red;
    }
    100% {
        background: none;
    }
}

.fade-red {
    -webkit-animation: fade-red 2s ease-in 1;
    animation: fade-red 2s ease-in 1;
}

//
.cursor-pointer {
    cursor: pointer;
}

//
.json {
    white-space: pre;
}
