body {
    overflow-y: scroll;
    //margin-top: 76px;
    background-color: $dark;
}

.card-body {
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

#navbar {
    .nav-item.dropdown.closer {
        //margin-left: -10px;
    }
}

.navbar-brand {
    padding: 0;
    img {
        height: 40px;
    }
}

.jumbotron {
    padding: 2rem;
    margin-top: 0;
    overflow: hidden;

    h1 {
        white-space: nowrap;
    }
    .lead {
        margin: 0;
    }
    img {
        position: relative;
        z-index: 100;
    }
}

.small-print {
    margin: 50px 0;
    display: block;
}

[data-link] {
    cursor: pointer;
}

.nav-tabs {
    a {
        color: $dark;
    }
}

.list-group {
    img.avatar {
        float: left;
        height: 48px;
        margin: -12px 20px -12px -20px;
    }
}

.alert p:last-child {
    margin-bottom: 0;
}
