html {
    overflow-y: scroll;
}

body {
    background-color: #1b2738;
}

body.bg {
    div.jumbotron {

        background-color: rgba(233, 236, 239, 0.9); // Using opacity makes images translucent too
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    .container {
        .card {
            background-color: rgba(255, 255, 255, 0.95); // Using opacity makes images translucent too

            .nav-tabs .nav-link.active {
                background-color: rgba(255, 255, 255, .6);
                border-bottom-color: rgba(255, 255, 255, .5);
            }
        }
    }
}

header {
    background-color: rgba(27, 39, 56, 0.9);
    position: relative;

    a.dropdown-item {
        img {
            margin-left: -10px;
        }
    }
}

@include media-breakpoint-up(lg) {

    header {
        background-color: transparent;
        position: static;
    }
}

#bg {
    top: 0;
    height: 620px;
    width: 100%;

    background-color: #1b2738;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    @include media-breakpoint-up(sm) {
        position: fixed;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(27, 39, 56, 1) 0, rgba(40, 134, 212, 0) 168px, rgba(41, 137, 216, 0) 452px, rgba(27, 39, 56, 1) 100%);
    }
}

#hero {

    margin-top: 140px;
    margin-bottom: 140px;
    position: relative;
    pointer-events: none;

    h1 {
        color: #28a745;
        font-family: 'Audiowide', sans-serif;
        text-align: center;
        text-shadow: 0 0 10px #1b2738, 0 0 10px #1b2738;
        font-size: 5rem;
        margin: 0;
    }
}

// Info panels
div.jumbotron.bottom {

    @extend .mt-3;
    @extend .p-3;

    display: table;
    width: 100%;

    h1 {
        display: table-cell;
        width: 1%;
        vertical-align: middle;

        i, svg {
            @extend .ml-2;
            @extend .mr-3;
        }
    }

    div {
        display: table-cell;
        vertical-align: middle;
    }
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 2px;
}

div#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    color: #fff;
    font-size: 30px;
    background-color: #28a745;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

div#top.show {
    opacity: 1;
}

.navbar {

    padding: 0.5rem 0;

    .navbar-brand {
        padding: 0;

        img {
            height: 40px;
        }
    }

    .dropdown {
        .dropdown-menu {
            margin: 0;
        }
    }

    .dropdown-mini {
        margin-left: -5px;

        .dropdown-toggle {
            padding-left: 0;
        }
    }

    #header-flag {
        a.dropdown-toggle {
            padding-top: 8px;
            padding-bottom: 0;
        }

        img {
            height: 24px;
        }
    }
}

li.nav-item {
    a.nav-link.nav-link-small {
        padding: .5rem .5rem
    }
}

.jumbotron {
    padding: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }

    .lead {
        margin: 0;
    }

    .social-buttons {

        position: absolute;
        right: 30px;
        bottom: 30px;

        @include media-breakpoint-up(md) {
            position: relative;
            right: 0;
            bottom: 0;
            float: right;
        }

        > div {
            height: 20px;

            > div {
                > span {
                    vertical-align: unset !important;
                }
            }
        }
    }

    img {
        position: relative;
        z-index: 100;
    }

    h1 {
        font-size: 1.5rem;

        @include media-breakpoint-up(sm) {
            font-size: 1.75rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 2.0rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.25rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 2.5rem;
        }
    }
}

// Toasts
body #toast-container > div {
    box-shadow: none;
}

// Top ads
#ad-top {
    text-align: center;

    .ad-top-small {
        padding: 0;
        margin: 0 0 10px 0;
        height: 50px;
    }
}

// Side ads
.container:nth-of-type(2) {
    position: relative;

    .ad-left {
        position: absolute;
        left: -160px;
    }

    .ad-right {
        position: absolute;
        right: -160px;
    }
}

.card-body {
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

.small-print {
    margin: 30px 0;
    display: block;
    position: relative;
}

[data-link] {
    cursor: pointer;
}

[data-link]:hover, [data-link]:hover span {
    text-decoration: underline;
}

.list-group {
    img.avatar {
        float: left;
        height: 48px;
        margin: -12px 20px -12px -20px;
    }
}

.alert p:last-child {
    margin-bottom: 0;
}

.tooltip-inner {
    //min-width: 200px;
    max-width: 300px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// New item fade
@keyframes fade-green {
    0% {
        background: #28a745;
    }
    100% {
        background: none;
    }
}

.fade-green {
    animation: fade-green 2s ease-in 1;
}

@keyframes fade-red {
    0% {
        background: $red;
    }
    100% {
        background: none;
    }
}

.fade-red {
    animation: fade-red 2s ease-in 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

//
.cursor-pointer {
    cursor: pointer;
}

//
div.json {
    white-space: pre;
    max-height: 200px;
    overflow-y: scroll;
}

div.json.fullheight {
    max-height: none;
}

// NoUI Slider
form .slider {

    padding: 0 15px 0 15px;

    label {
        margin-left: -15px;
        margin-bottom: 18px;
    }

    .noUi-base {
        .noUi-connect {
            background-color: $link-color;
        }
    }
}

//
@mixin news-content {

    h1, h2, h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    img {
        max-width: 100%;
    }

    iframe {
        width: 100%;
        height: 577px;
        border: 0;
    }

    br:first-child, br:last-child {
        display: none;
    }

    //p:empty {
    //    display: none;
    //}

    //br + br + br {
    //    display: none;
    //}

    //p:empty + p:empty + p:empty {
    //    display: none;
    //}
}

//
.wbba {
    word-break: break-all;
}