#home-page {

    #players {

    }

    #prices {

    }

    #news {

        .media {
            display: block;

            img {
                width: 100%;
                height: auto;
            }

            .media-body {
                overflow: auto;
            }
        }

        @include media-breakpoint-up(sm) {
            .media {
                display: flex;

                img {
                    width: 150px;
                    min-width: 150px;
                    height: 70px;
                }
            }
        }
    }

    #new-releases {

        .card.top {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .card.bottom {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        a {
            img {
                //margin-bottom: 0.5rem;
                width: 100%;
            }
        }

        a:last-of-type {
            img {
                //margin-bottom: 0;
            }
        }
    }
}
