#home-page {

    table .text-truncate {
        max-width: 235px;
    }

    table#trending .text-truncate {
        max-width: 160px;
    }

    @include media-breakpoint-up(md) {

        table .text-truncate {
            max-width: 420px;
        }

        table#trending .text-truncate {
            max-width: 300px;
        }
    }

    @include media-breakpoint-up(lg) {

        table .text-truncate {
            max-width: 195px;
        }

        table#trending .text-truncate {
            max-width: 120px;
        }
    }

    @include media-breakpoint-up(xl) {

        table .text-truncate {
            max-width: 285px;
        }

        table#trending .text-truncate {
            max-width: 210px;
        }
    }
}