#home-page {

    #players {

    }

    #prices {

    }

    #news {

        div.img {
            width: 150px;
            min-width: 150px;
            height: 70px;

            background-size: cover;
            background-position: center;
        }

        .media-body {
            overflow: auto;
        }
    }

    #new-releases {

        .card.top {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .card.bottom {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        a {
            img {
                //margin-bottom: 0.5rem;
                width: 100%;
            }
        }

        a:last-of-type {
            img {
                //margin-bottom: 0;
            }
        }
    }
}
