#news-page {

    #popular {
        .card-header {

            padding-left: 60px;

            img {
                height: 32px;
                margin: 7px 0 0 -40px;;
            }
        }

        .card-body {

            > div {

                h1, h2, h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                img {
                    max-width: 100%;
                    max-height: 300px;
                }

                p:empty {
                    display: none;
                }

                br:first-child {
                    display: none;
                }
            }
        }

        .card-body.minned {
            cursor: ns-resize;
            box-shadow: 0px -10px 10px -10px #000 inset;

            > div {

                h1, h2, h3 {
                    font-size: 1rem;
                }

                img, br, iframe {
                    display: none;
                }

                max-height: 200px;
                overflow: hidden;
            }
        }
    }

    .article-title {
        cursor: pointer;
    }

    .modal-body {
        img {
            max-width: 100%;
        }
    }
}