#news-page {

    #popular {
        .card-header {
            img {
                height: 32px;
                margin: -5px 5px -5px -10px;
            }
        }

        .card-body {

            img {
                max-width: 100%;
                max-height: 300px;
            }
        }

        .card-body.minned {
            cursor: ns-resize;
            box-shadow: 0px -10px 10px -10px #000 inset;

            > div {

                img, br, p:empty {
                    display: none;
                }

                max-height: 200px;
                overflow: hidden;
            }
        }
    }

    .article-title {
        cursor: pointer;
    }

    .modal-body {
        img {
            max-width: 100%;
        }
    }
}