#player-page {
    .jumbotron {
        img {
            float: right;
            height: 120px;
            margin: -2rem -2rem -2rem 2rem;
        }
    }

    #charts {
        div{
            height: 250px;
        }
    }

    .friend {
        a, div {
            color: $dark;
            text-decoration: none;
            @include text-truncate;

            img {
                height: 52px;
                margin-right: 5px;
            }

            span {
                margin-top: 15px;
            }

            span:hover {
                text-decoration: underline;
            }

            span.badge {
                text-decoration: none;
            }
        }
    }
}
