#stats-page {

    #scores {
        height: 300px;
        @extend .mb-3;
    }

    #types {
        height: 300px;
        @extend .mb-3;
    }

    #countries {
        height: 300px;
        //@extend .mb-3;
    }
}
