#steam-api-page {
    .interface {
        table {
            input {
                width: 100%;
            }
        }

        form:last-child {
            .card {
                margin-bottom: 0 !important;
            }
        }
    }
}