div table.dataTable {
    border-collapse: separate !important;
}

// Pagination donate link
ul.pagination li.donate {
    padding: .5rem .75rem;
}

// Border radius table corners
table.table:not(.fixedHeader-floating) {

    thead {
        tr:first-child {
            th:first-child, td:first-child {
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-top-left-radius: 5px;
            }

            th:last-child, td:last-child {
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
                border-top-right-radius: 5px;
            }
        }

        tr:last-child {
            td:first-child {
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-bottom-left-radius: 5px;
            }

            td:last-child {
                -webkit-border-bottom-right-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

// TH padding
table.table-datatable, table.table-datatable2 {
    th.sorting_desc_disabled, th.sorting_asc_disabled {
        padding-right: 35px;
    }
}

table.table {

    thead {
        th {
            color: $dark;
            white-space: nowrap;
            border: 0;

            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }

    td {
        img {
            max-width: 100%;
        }

        div.progress {
            height: 24px;
        }
    }

    td.platforms {
        font-size: 22px;
        line-height: 48px;
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding

        a {
            i, svg {
                margin-right: 5px;
            }
        }

        a:last-child {
            i, svg {
                margin-right: 0;
            }
        }

        span.space {
            display: none;
        }
    }

    td.platforms.platforms-align span.space {
        display: inline-block;
        width: .875em;
    }

    td.img {
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding
        font-size: 0; // Remove white space

        img {
            margin-top: 9px;
            height: 32px;
            max-width: none;
            display: inline;
        }

        img.square {
            width: 32px;
        }

        div.avatar2 {
            margin-top: 9px;
            height: 32px;
            float: left;
        }

        span {
            display: inline;
            margin: .75rem 0 .75rem 9px;
            font-size: 1rem;
            vertical-align: middle;
        }
    }
}

// This is to override the external style sheet
table.dataTable {
    clear: both;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: none !important;
    border-collapse: collapse !important;
    border-spacing: 0;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1.3em;
    content: "\2191";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 40px;
}

.dt-pagination:not(:empty) {
    @extend .justify-content-center;
    @extend .text-center;

    > div {
        display: inline-block;
    }
}

.dt-pagination:not(:empty):nth-of-type(1) {
    @extend .mb-3; // Margin Bottom
}

.dt-pagination:not(:empty):nth-of-type(2) {
    @extend .mt-3; // Margin Top
}
