table.table {
    thead {
        th {
            color: $dark;
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    td.platforms {
        font-size: 22px;
        line-height: 48px;
        padding: 0 .75rem 0 .75rem;
        i, svg {
            margin-right: 5px;
        }
        i:last-child, svg:last-child {
            margin-right: 0;
        }
    }
    td.img {
        padding: 0;
        img {
            height: 48px;
        }
        span {
            display: inline-block;
            margin: .3rem;
        }
    }
}

table.table-sm {
    td.img {
        img {
            height: 32px;
        }
    }
}

table.table-datatable {
    th:empty::before {
        content: '';
    }
    th:empty::after {
        content: '';
    }
}
