table.table {
    thead {
        th {
            color: $dark;
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    td {
        div.progress {
            height: 24px;
        }
    }
    td.platforms {
        font-size: 22px;
        line-height: 48px;
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding
        i, svg {
            margin-right: 3px;
        }
        i:last-child, svg:last-child {
            margin-right: 0;
        }
        span.space {
            display: none;
        }
    }
    td.platforms.platforms-align span.space {
        display: inline-block;
        width: .875em;
    }
    td.img {
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding
        font-size: 0; // Remove white space
        img {
            margin-top: 9px;
            height: 32px;
        }
        img.square {
            width: 32px;
        }
        div.avatar2 {
            margin-top: 9px;
        }
        span {
            display: inline-block;
            margin: .75rem 0 .75rem .75rem;
            vertical-align: top;
            font-size: 1rem;
        }
    }
}

// Remove arrows in empty column headers
table.table-datatable, table.table-datatable2 {
    th:empty::before {
        content: '';
    }
    th:empty::after {
        content: '';
    }
}
