table.table {
    thead {
        th {
            color: $dark;
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    td.platforms {
        font-size: 22px;
        line-height: 48px;
        padding: 0 .75rem 0 .75rem;
        i, svg {
            margin-right: 5px;
        }
        i:last-child, svg:last-child {
            margin-right: 0;
        }
    }
    td.img {
        padding: 0;
        img {
            height: 48px;
        }
        span {
            display: inline-block;
            margin: .3rem;
        }
    }
}

table.table-sm {
    td.img {
        img {
            height: 32px;
        }
    }
}

table.table-sorter {
    thead tr {
        .tablesorter-header {
            background: url(/assets/img/tablesorter/bg.gif) no-repeat center left;
            cursor: pointer;
            padding-left: 20px;
            outline: none;
        }
        .tablesorter-headerAsc {
            background-image: url(/assets/img/tablesorter/asc.gif);
            text-decoration: underline;
        }
        .tablesorter-headerDesc {
            background-image: url(/assets/img/tablesorter/desc.gif);
            text-decoration: underline;
        }
        .sorter-false {
            background: none !important;
            cursor: default;
        }
    }
}
