table.table {
    thead {
        th {
            color: $dark;
            white-space: nowrap;
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    td {
        div.progress {
            height: 24px;
        }
    }
    td.platforms {
        font-size: 22px;
        line-height: 48px;
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding
        i, svg {
            margin-right: 5px;
        }
        i:last-child, svg:last-child {
            margin-right: 0;
        }
        span.space {
            display: none;
        }
    }
    td.platforms.platforms-align span.space {
        display: inline-block;
        width: .875em;
    }
    td.img {
        padding: 0 .75rem 0 .75rem; // Remove top/bottom padding
        font-size: 0; // Remove white space
        img {
            margin-top: 9px;
            height: 32px;
            position: absolute;
        }
        img.square {
            width: 32px;
        }
        div.avatar2 {
            margin-top: 9px;
            position: absolute;
        }
        span {
            display: inline-block;
            margin: .75rem 0 .75rem 42px;
            vertical-align: top;
            font-size: 1rem;
        }
    }
    td.flag {
        span {
            margin-left: 52px;
        }
    }
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1.3em;
    content: "\2191";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

.dt-pagination:not(:empty) {
    @extend .justify-content-center;
    @extend .text-center;

    > div {
        display: inline-block;
    }
}

.dt-pagination:not(:empty):nth-of-type(1) {
    @extend .mb-3; // Margin Bottom
}

.dt-pagination:not(:empty):nth-of-type(2) {
    @extend .mt-3; // Margin Top
}

//div.dataTables_wrapper div.dataTables_processing {
//    position: absolute;
//    top: 2px;
//    right: 0px;
//    left: auto;
//    margin: 0;
//    width: auto;
//    padding: 0;
//    background: none;
//    border: none;
//}
