{{define "header"}}

    <h2>
        <img src="https://gamedb.online/assets/img/sa-500x500.png" alt="Game DB" style="height: 30px; vertical-align: middle;" height="30">
        Game DB
    </h2>

{{end}}
