{{define "verify"}}
    {{ template "header" . }}

    <p>Please click the below link to verify your email address</p>
    <p>{{ .Domain }}/signup/verify?code={{ .Code }}</p>

    {{ template "footer" . }}
{{end}}
