{{define "verify"}}
    {{ template "header" . }}

        <p>Please click the below link to verify your email address</p>
        <p></p>config.C.GameDBDomain + "/signup/verify?code=" + code.Code +

    <br/>" +

    "<br><br>Thanks, Jleagle." +
    "<br><br>From IP: " + geo.GetFirstIP(r.RemoteAddr)

    {{ template "footer" . }}
{{end}}
