{{define "signup"}}
    {{ template "header" . }}

    <p>Welcome to Global Steam</p>
    <p>Please check out the following:</p>
    <ul>
        <li><a href="https://twitter.com/gamedb_online">Twitter</a></li>
        <li><a href="https://globalsteam.online/discord-server">Discord</a></li>
        <li><a href="https://www.patreon.com/jleagle">Patreon</a></li>
        <li><a href="https://github.com/gamedb">GitHub</a></li>
    </ul>

    {{ template "footer" . }}
{{end}}
