#app-page {

    div.jumbotron {
        small {
            a {
                @extend .mr-2;
            }
        }
    }

    #details {
        > img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: auto;
                position: absolute;
                right: 1.25rem;
                height: 150px;
            }
        }

        video {
            max-width: 100%;
            cursor: pointer;
        }
    }

    #players {

        #players-chart {
            height: 250px;
        }
    }

    #reviews {

        #reviews-chart {
            height: 250px;
        }

        // todo, get these from BS variables
        div[data-vote=true] {
            background-color: #c3e6cb;
        }

        div[data-vote=false] {
            background-color: #f5c6cb;
        }
    }

    #media {
        img, video {
            width: 100%;
            margin-bottom: 1px;
            display: block;
            background-color: #1b2738;
        }

        img:last-of-type, video:last-of-type {
            margin-bottom: 0;
        }

        #images + #videos {
            @extend .mt-4;
        }
    }

    #news {

        // Normal rows
        table.table tr[role=row] td {
            cursor: pointer;
        }

        // Extra rows
        table.table tr:not([role=row]) td {
            @include news-content;
        }
    }

    #items {

        // Normal rows
        table.table tr[role=row] td {
            cursor: pointer;
        }

        .detail-row {
            strong {
                display: inline-block;
                width: 200px;
            }
        }
    }

    #tracks {
        #album-cover {
            max-width: 100%;
        }
    }
}
