#apps-compare-page {
    #group-chart, #players-chart, #players-chart2, #score-chart {
        height: 300px;
    }

    iframe {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

body.dark {
    #apps-compare-page {
        iframe {
            filter: invert(86%);
        }
    }
}
