#apps-random-page {

    #search-card {
        z-index: 100;
    }

    #media {
        video, img {
            width: 100%;
            margin-bottom: 2px;
            float: left; // To remove white space
        }
    }
}
