#app-page {

    #details {

        video {
            max-width: 100%;
        }

        #tags {

            div {
                height: 1px;
                clear: both;
                background-color: #28a745;

                position: relative;
                z-index: 100;
            }

            .float-left {
                font-size: 0.9rem;
            }

            .float-right {
                font-size: 0.7rem;
                padding-top: 2px;
            }
        }

        #links {
            div {
                @include clearfix();
                margin-bottom: 1px;

                img {
                    margin-right: 2px;
                    width: 20px;
                    height: 20px;
                    float: left;
                }

                a {
                    display: block;
                    font-size: .9rem;
                    line-height: 18px;
                }
            }
        }
    }

    #players {

        #group-chart, #players-chart, #players-chart2, #wishlists-chart {
            height: 300px;
        }
    }

    #reviews {

        #reviews-chart {
            height: 300px;
        }

        // todo, get these from BS variables
        div[data-vote=true] {
            background-color: #c3e6cb;
        }

        div[data-vote=false] {
            background-color: #f5c6cb;
        }
    }

    #media {
        img, video {
            width: 100%;
            margin-bottom: 2px;
            display: block;
            background-color: #1b2738;
        }

        img:last-of-type, video:last-of-type {
            @extend .mb-0;
        }

        #images + #videos {
            @extend .mt-4;
        }
    }

    #news {

        // Extra rows
        table.table tr:not([role=row]) td {
            @include news-content;
        }
    }

    #items {

        .detail-row {
            strong {
                display: inline-block;
                width: 200px;
            }
        }
    }

    #tracks {
        #album-cover {
            max-width: 100%;
        }
    }
}
