#apps-compare-page {
  #group-chart, #players-chart, #players-chart2, #score-chart, #wishlists-chart {
    height: 300px;
  }

  #price-chart {
    height: 200px;
  }

  iframe {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

body.dark {
  #apps-compare-page {
    iframe {
      filter: invert(86%);
    }
  }
}
