#app-page {

    #details {
        > img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: auto;
                position: absolute;
                right: 1.25rem;
                height: 150px;
            }
        }

        video {
            max-width: 100%;
        }

        #tags {
            div {
                a {
                    margin-bottom: 2px;
                    position: relative;

                    span.left {
                        position: absolute;
                        left: 4px;
                        background-color: inherit;
                    }

                    span.right {
                        position: absolute;
                        right: 4px;
                    }
                }
            }
        }
    }

    #players {

        #players-chart {
            height: 300px;
        }

        #group-chart {
            height: 300px;
        }
    }

    #reviews {

        #reviews-chart {
            height: 300px;
        }

        // todo, get these from BS variables
        div[data-vote=true] {
            background-color: #c3e6cb;
        }

        div[data-vote=false] {
            background-color: #f5c6cb;
        }
    }

    #media {
        img, video {
            width: 100%;
            margin-bottom: 1px;
            display: block;
            background-color: #1b2738;
        }

        img:last-of-type, video:last-of-type {
            @extend .mb-0;
        }

        #images + #videos {
            @extend .mt-4;
        }
    }

    #news {

        // Extra rows
        table.table tr:not([role=row]) td {
            @include news-content;
        }
    }

    #items {

        .detail-row {
            strong {
                display: inline-block;
                width: 200px;
            }
        }
    }

    #tracks {
        #album-cover {
            max-width: 100%;
        }
    }
}
