#group-page {

    .jumbotron {
        img {
            float: right;
            height: 120px;
            margin: -2rem -2rem -2rem 2rem;
        }
    }

    #group-chart {
        height: 300px;
    }
}
