#home-page {

    #hero {
        margin-top: 140px;
        margin-bottom: 140px;
        position: relative;
        pointer-events: none;

        h1 {
            color: #28a745;
            font-family: 'Audiowide', sans-serif;
            text-align: center;
            text-shadow: 0 0 10px #1b2738, 0 0 10px #1b2738;
            font-size: 5rem;
            margin: 0;
        }
    }

    #players {
        #column {
            text-transform: capitalize;
        }
    }

    #prices {
        .text-truncate {
            width: 300px;
        }
    }

    #news {

        .media {
            display: block;

            img {
                width: 100%;
                height: auto;
            }

            .media-body {
                overflow: auto;
            }
        }

        @include media-breakpoint-up(sm) {
            .media {
                display: flex;

                img {
                    width: 150px;
                    min-width: 150px;
                    height: 70px;
                }
            }
        }
    }

    #new-releases {

        //.card.top {
        //    border-bottom-left-radius: 0;
        //    border-bottom-right-radius: 0;
        //}
        //
        //.card.bottom {
        //    border-top-left-radius: 0;
        //    border-top-right-radius: 0;
        //}

        .row {
            > div:nth-child(2n) {
                @include media-breakpoint-up(sm) {
                    padding-left: 0;
                }
                @include media-breakpoint-up(lg) {
                    padding-left: 15px;
                }
            }

            > div:nth-child(2n+1) {
                @include media-breakpoint-up(sm) {
                    padding-right: 0;
                }
                @include media-breakpoint-up(lg) {
                    padding-right: 15px;
                }
            }
        }

        a {
            img {
                //margin-bottom: 0.5rem;
                width: 100%;
                border-bottom: solid #fff 1px;
            }
        }

        a:last-of-type {
            img {
                //margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}
