#login-page {
    #oauth-buttons {

        a {
            font-size: 4rem;
            @extend .mr-3;
        }

        .fa-steam {
            color: #000;
        }

        .fa-patreon {
            color: #f96854;
        }

        .fa-discord {
            color: #7289DA;
        }

        .fa-google {
            color: #4285F4;
        }

        .fa-github {
            color: #4078c0;
        }
    }
}