#player-page {

    #jumbotron {

        height: 144px;

        img {
            float: right;
            height: 144px;
            margin: -2rem -2rem -2rem 2rem;
        }

        small {
            a {
                @extend .mr-2;
            }
        }
    }

    #history {
        #history-chart, #ranks-chart {
            height: 250px;
        }
    }

    .friend {
        a, div {
            color: $dark;
            text-decoration: none;
            @include text-truncate;

            img {
                height: 52px;
                margin-right: 5px;
            }

            span {
                margin-top: 15px;
            }

            span:hover {
                text-decoration: underline;
            }

            span.badge {
                text-decoration: none;
            }
        }
    }
}
