#steam-api-page {

    .card {
        .card-header {
            a {
                color: #212529;
            }
        }
    }

    .interface {
        table {
            input {
                width: 200px;
            }
        }
    }

    #sidebar {
        font-size: 0.9rem;
        will-change: min-height;

        a {
            padding: 5px;
        }
    }

    .sidebar__inner {
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }

    .api-field {
        @extend .rounded;
        border: solid 1px #ced4da;
    }
}
