{{define "_flashes"}}

    {{ if gt (len .FlashesGood) 0 }}
        <div class="alert alert-success" role="alert">
            {{ range $k, $v := .FlashesGood }}
                <p> {{ title $v }} </p>
            {{ end }}
        </div>
    {{ end }}

    {{ if gt (len .FlashesBad) 0 }}
        <div class="alert alert-danger" role="alert">
            {{ range $k, $v := .FlashesBad }}
                <p> {{ title $v }} </p>
            {{ end }}
        </div>
    {{ end }}

{{end}}
