{{define "_flashes"}}

    <div class="alert alert-success d-none" role="alert" id="flashes-good">
        {{/* Added with JS */}}
    </div>

    <div class="alert alert-danger d-none" role="alert" id="flashes-bad">
        {{/* Added with JS */}}
    </div>

{{end}}
