{{define "_header_esi"}}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/sa-500x500.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{if startsWith .Path "/players" }}active{{end}}">
                        <a class="nav-link" href="/players">Players</a>
                    </li>
                    <li class="nav-item {{if startsWith .Path "/games" }}active{{end}}">
                        <a class="nav-link" href="/games">Games</a>
                    </li>
                    <li class="nav-item {{if startsWith .Path "/coop" }}active{{end}}">
                        <a class="nav-link" href="/coop">Co-op</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Deals</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/price-changes">Price Changes</a>
                            <a class="dropdown-item" href="/free-games">Free Games</a>
                        {{/*<a class="dropdown-item" href="/discounts">Discounts</a>*/}}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Stats</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/tags">Tags</a>
                            <a class="dropdown-item" href="/genres">Genres</a>
                            <a class="dropdown-item" href="/publishers">Publishers</a>
                            <a class="dropdown-item" href="/developers">Developers</a>
                        </div>
                    </li>
                    <li class="nav-item {{if startsWith .Path "/news" }}active{{end}}">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item {{if startsWith .Path "/chat" }}active{{end}}">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                {{ if .IsAdmin }}
                    <li class="nav-item {{if startsWith .Path "/admin" }}active{{end}}">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {{end}}
                {{ if .IsLoggedIn }}
                    <li class="nav-item">
                        <a class="nav-link" href="/players/{{ .UserID }}">{{.UserName}}</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {{end}}
                    <li class="nav-item {{if startsWith .Path "/contact" }}active{{end}}">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item {{if startsWith .Path "/donate" }}active{{end}}">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu">
                        {{ if .IsLoggedIn }}
                            <a class="dropdown-item" href="/settings">Settings</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                            <div class="dropdown-divider"></div>
                        {{end}}
                            <a class="dropdown-item" href="/packages">Packages</a>
                            <a class="dropdown-item" href="/experience">Experience</a>
                            <a class="dropdown-item" href="/commits">Commits</a>
                            <a class="dropdown-item" href="/changes">Changes</a>
                            <a class="dropdown-item" href="/queues">Queues</a>
                            <a class="dropdown-item" href="/info">Info</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{{ if and (.ShowAd) (not .IsLocal) }}
<div class="container" style="text-align: center;">
    <script type="text/javascript">
        (function () {
            if (window.CHITIKA === undefined) {
                window.CHITIKA = {'units': []};
            }
            var unit = {"calltype": "async[2]", "publisher": "jleagle", "width": 728, "height": 90, "sid": "Chitika Default"};
            var placement_id = window.CHITIKA.units.length;
            window.CHITIKA.units.push(unit);
            document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
        }());
    </script>
    <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</div>
{{ end }}

{{end}}
