{{define "_header"}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/compiled.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/sa-bg-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/sa-bg-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/sa-bg-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/sa-bg-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#343a40">
    <link rel="shortcut icon" href="/assets/img/sa-bg-48x48.ico">

    <meta name="apple-mobile-web-app-title" content="Game DB">
    <meta name="application-name" content="Game DB">
    <meta name="msapplication-TileColor" content="#343a40">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#343a40">
    <meta name="google" content="notranslate">

    <title>{{.Title}} - Game DB</title>

    <script async src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125104-31"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-125104-31');
        gtag('set', {'user_id': '{{ .UserID }}'});
    </script>
</head>

<body>

{{if .IsVarnished }}

<esi:include src="/esi/header"/>

{{else}}

{{ template "_header_esi" . }}

{{end}}

{{end}}
