{{define "_stats_header"}}

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link {{if startsWith .Path "/tags" }}active{{end}}" href="/tags" role="tab">Tags</a>
        </li>

        <li class="nav-item">
        {{if startsWith .Path "/genres" }}
            <span class="nav-link active" role="tab">Genres</span>
        {{else}}
            <a class="nav-link" href="/genres" role="tab">Genres</a>
        {{end}}
        </li>

        <li class="nav-item">
            <a class="nav-link {{if startsWith .Path "/publishers" }}active{{end}}" href="/publishers" role="tab">Publishers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{if startsWith .Path "/developers" }}active{{end}}" href="/developers" role="tab">Developers</a>
        </li>

    </ul>
</div>

{{end}}
