{{define "api"}} {{ template "_header" . }}

<div class="container" id="api-page">

    <div class="jumbotron">

        <h1><i class="fas fa-database"></i> API</h1>

        <small>Under construction</small>

    </div>


</div>

{{ template "_footer" . }} {{end}}