{{define "app"}} {{ template "_header" . }}

<div class="container" id="app-page">

    <div class="jumbotron">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ .App.ID }}/header.jpg" onError="this.onerror=null;this.src='/assets/img/no-app-image-banner.jpg';">
        <h1 class="display-4"><i class="fas fa-gamepad"></i> {{.App.GetName}}</h1>
        <p class="lead">
            <a href="{{ .App.GetCommunityLink }}">Community Page</a>
            - <a href="{{ .App.GetStoreLink }}">Store Page</a>
        {{if ne .App.Homepage ""}}
            - <a href="{{ .App.Homepage }}">Game Website</a>
        {{end}}
            - <a href="{{ .App.GetInstallLink }}">Install</a>
        </p>
    </div>

{{ range $k, $v := .Banners }}
    <div class="alert alert-{{ $k }}" role="alert">
    {{ range $kk, $vv := $v }}
        <div>{{ $vv }}</div>
    {{ end }}
    </div>
{{ end }}

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#achievements" role="tab">Achievements ({{ .App.GetAchievements.Total }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#news" role="tab">News ({{ len .Articles }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="details" role="tabpanel">

                    <div class="row">
                        <div class="col-sm-12 col-lg-7">

                        {{ if ne .App.GameName "" }}
                            <p>For Game: <a href="/apps/{{ .App.GameID }}">{{ .App.GameName }}</a></p>
                        {{end}}

                            <p>App Type: {{ .App.GetType }}</p>
                            <p>Release State: {{ .App.ReleaseState }}</p>
                            <p class="platforms">Platforms: {{ .App.GetPlatformImages }}</p>
                            <p>Tags: {{ tags .Tags }}</p>
                            <p>Genres: {{ genres .App.GetGenres }}</p>

                        {{/* Packages with app */}}
                            <h5>Packages</h5>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-datatable mb-0">
                                    <thead>
                                    <th scope="col">Package ID</th>
                                    <th scope="col">Billing</th>
                                    <th scope="col">License</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Apps</th>
                                    </thead>
                                {{ range $key, $value := .Packages }}
                                    <tr>
                                        <td>
                                            <a href="/packages/{{.ID}}">{{.ID}}</a>
                                        </td>
                                        <td>{{ .BillingType }}</td>
                                        <td>{{ .LicenseType }}</td>
                                        <td>{{ .Status }}</td>
                                        <td>{{ len .Apps }}</td>
                                    </tr>
                                {{ end }}
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-5">

                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                {{ range $key, $value := .App.GetScreenshots }}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ $key }}" class="{{if eq $key 0}}active{{end}}"></li>
                                {{ end }}
                                </ol>
                                <div class="carousel-inner">
                                {{ range $key, $value := .App.GetScreenshots }}
                                    <div class="carousel-item {{if eq $key 0}}active{{end}}">
                                        <img class="d-block w-100" style="width:50%;" src="{{ .PathFull }}">
                                    </div>
                                {{ end }}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="achievements" role="tabpanel">

                {{/* App Achievements */}}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-datatable mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="sorter-false"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Completed</th>
                            </tr>
                            </thead>
                        {{ range $key, $value := .Schema.AvailableGameStats.Achievements }}
                            <tr>
                                <td class="img"><img src="{{ .Icon }}" class="rounded"></td>
                                <td>{{ .DisplayName }}</td>
                                <td>{{ .Description }}</td>
                                <td>{{ index $.Achievements .Name }}%</td>
                            </tr>
                        {{ end }}
                        </table>

                    </div>

                </div>
                <div class="tab-pane" id="news" role="tabpanel">

                    <div id="accordion">

                    {{ range $key, $value := .Articles }}
                        <div class="card mb-1">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{$key}}">{{ .Title }}</button>
                                </h5>
                            </div>
                            <div id="collapse{{$key}}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p class="mb-0">{{ .Contents }}</p>
                                        <footer class="blockquote-footer">{{ .Author }}</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    {{ end }}

                    </div>

                </div>
                <div class="tab-pane" id="prices" role="tabpanel">

                    <script>var prices = JSON.parse('{{ .Prices }}');</script>
                    <div id="chart" class="mb-0" style="height: 400px;"></div>

                </div>
            </div>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}