{{define "app"}} {{ template "_header" . }}

<div class="container" id="app-page" data-bg="{{ .App.Background }}">

    <div class="jumbotron">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ .App.ID }}/header.jpg" onError="this.onerror=null;this.src='/assets/img/no-app-image-banner.jpg';">
        <h1 class="display-4"><i class="fas fa-gamepad"></i> {{ .App.GetName }}</h1>
        <p class="lead">
            <a href="{{ .App.GetCommunityLink }}" data-toggle="tooltip" data-placement="top" title="Community Page"><i class="fas fa-users"></i></a>
            <a href="{{ .App.GetStoreLink }}" data-toggle="tooltip" data-placement="top" title="Store Page"><i class="fas fa-shopping-cart"></i></a>
        {{if ne .App.Homepage ""}}
            <a href="{{ .App.Homepage }}" data-toggle="tooltip" data-placement="top" title="Official Website"><i class="fas fa-home"></i></a>
        {{end}}
            <a href="{{ .App.GetInstallLink }}" data-toggle="tooltip" data-placement="top" title="Install"><i class="fas fa-sign-in-alt"></i></a>
            <a href="{{ .App.GetPCGamingWikiLink }}" data-toggle="tooltip" data-placement="top" title="PC Gaming Wiki"><i class="fab fa-wikipedia-w"></i></a>
        </p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                </li>
            {{if gt .PricesCount 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices ({{ .PricesCount }})</a>
                </li>
            {{end}}
            {{if gt (len .DLC) 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#dlc" role="tab">DLC ({{len .DLC}})</a>
                </li>
            {{end}}
            {{if gt (len .Packages) 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#packages" role="tab">Packages ({{ len .Packages }})</a>
                </li>
            {{end}}
            {{if gt (len .Achievements) 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#achievements" role="tab">Achievements ({{ len .Achievements }})</a>
                </li>
            {{end}}
            {{if gt (len .Articles) 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#news" role="tab">News ({{ len .Articles }})</a>
                </li>
            {{end}}
            {{if gt .ReviewsCount.TotalReviews 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews ({{ comma .ReviewsCount.TotalReviews }})</a>
                </li>
            {{end}}
            {{if gt (len .App.GetScreenshots) 0}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#media" role="tab">Media ({{ len .App.GetScreenshots }})</a>
                </li>
            {{end}}
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">

            {{/* Info */}}
                <div class="tab-pane show active" id="details" role="tabpanel">

                {{ if ne .App.GameName "" }}
                    <p>For Game: <a href="/games/{{ .App.GameID }}">{{ .App.GameName }}</a></p>
                {{end}}

                    <p>Price: {{ .App.GetPriceFinalNice }}</p>
                    <p>App Type: {{ .App.GetType }}</p>
                    <p>Release State: {{ .App.GetReleaseState }}</p>
                    <p class="platforms">Platforms: {{ .App.GetPlatformImages }}</p>
                    <p>Genres: {{ genres .App.GetGenres }}</p>
                    <p>Tags: {{ tags .Tags }}</p>

                </div>

            {{/* Prices */}}
                <div class="tab-pane" id="prices" role="tabpanel">
                    <script>var prices = JSON.parse('{{ .Prices }}');</script>
                    <div id="chart"></div>
                    <iframe src="https://store.steampowered.com/widget/{{ .App.ID }}/" frameborder="0" width="100%" height="190" style="margin-bottom: -20px;"></iframe>
                </div>

            {{/* DLC */}}
                <div class="tab-pane" id="dlc" role="tabpanel">

                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-datatable mb-0">
                            <thead class="thead-light">
                            <th scope="col" width="1%" data-disabled></th>
                            <th scope="col">Name</th>
                            <th scope="col" data-sort="desc">Release</th>
                            </thead>
                        {{ range $key, $value := .DLC }}
                            <tr data-link="{{.GetPath}}">
                                <td class="img">
                                    <img class="rounded" src="{{ .GetIcon }}">
                                </td>
                                <td>{{.GetName}}</td>
                                <td data-sort="{{ .GetReleaseDateUnix }}" nowrap="nowrap">{{.GetReleaseDateNice}}</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>

                </div>

            {{/* App Achievements */}}
                <div class="tab-pane" id="achievements" role="tabpanel">

                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-datatable mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" width="1%" data-disabled></th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col" data-sort="desc">Completed</th>
                            </tr>
                            </thead>
                        {{ range $key, $value := .Achievements }}
                            <tr>
                                <td class="img"><img src="{{ .Icon }}" class="rounded"></td>
                                <td>{{ .Name }}</td>
                                <td>{{ .Description }}</td>
                                <td>{{ .GetCompleted }}%</td>
                            </tr>
                        {{ end }}
                        </table>

                    </div>

                </div>

            {{/* News */}}
                <div class="tab-pane" id="news" role="tabpanel">

                    <div id="accordion">

                    {{ range $key, $value := .Articles }}
                        <article class="card mb-1">
                            <div class="card-header">
                                <h5 class="mb-0 text-truncate">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ .ID }}">{{ .Title }}</button>
                                </h5>
                            </div>
                            <div id="collapse{{ .ID }}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p class="mb-0">{{ .Contents }}</p>
                                        <footer class="blockquote-footer">{{ .Author }}</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </article>
                    {{ end }}

                    </div>

                </div>

            {{/* Packages */}}
                <div class="tab-pane" id="packages" role="tabpanel">

                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-datatable mb-0">
                            <thead class="thead-light">
                            <th scope="col" data-sort="asc">Package ID</th>
                            <th scope="col">Billing</th>
                            <th scope="col">License</th>
                            <th scope="col">Status</th>
                            <th scope="col">Apps</th>
                            </thead>
                        {{ range $key, $value := .Packages }}
                            <tr>
                                <td>
                                    <a href="/packages/{{ .ID }}">{{.GetName}}</a>
                                </td>
                                <td>{{ .GetBillingType }}</td>
                                <td>{{ .GetLicenseType }}</td>
                                <td>{{ .GetStatus }}</td>
                                <td>{{ comma (len .Apps) }}</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>

                </div>

            {{/* Reviews */}}
                <div class="tab-pane" id="reviews" role="tabpanel">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row" width="15%">Score</th>
                            <td>{{ .App.GetReviewScore }} / 100</td>
                        </tr>
                        <tr>
                            <th scope="row" width="20%">Positive / Negative</th>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ .ReviewsCount.GetPositivePerent }}%">
                                    {{ comma .ReviewsCount.TotalPositive }}
                                    </div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ .ReviewsCount.GetNegativePerent }}%">
                                    {{ comma .ReviewsCount.TotalNegative }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                {{ range $key, $value := .Reviews }}

                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="float-right">{{ .Votes }} <i class="fas fa-thumbs-up"></i></div>
                            By <a href="{{.Player.GetPath}}">{{.Player.GetName}}</a> on {{ .Date }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="mb-0">
                                    <small style="white-space: pre-wrap;">{{.Review}}</small>
                                </p>
                            </blockquote>
                        </div>
                    </div>

                {{ end }}

                </div>

            {{/* Media */}}
                <div class="tab-pane" id="media" role="tabpanel">

                    <div id="mediaCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        {{ range $key, $value := .App.GetScreenshots }}
                            <li data-target="#mediaCarousel" data-slide-to="{{ $key }}" class="{{if eq $key 0}}active{{end}}"></li>
                        {{ end }}
                        </ol>
                        <div class="carousel-inner">
                        {{ range $key, $value := .App.GetScreenshots }}
                            <div class="carousel-item {{if eq $key 0}}active{{end}}">
                                <img class="d-block w-100" src="{{ .PathFull }}">
                            </div>
                        {{ end }}
                        </div>
                        <a class="carousel-control-prev" href="#mediaCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#mediaCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}