{{define "apps"}} {{ template "_header" . }}

<div class="container" id="apps-page">

    <form action="/games" method="get" data-persist="garlicx" autocomplete="off" data-destroy="false">

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 col-lg-6">

                    <h1 class="display-4"><i class="fas fa-gamepad"></i> Games</h1>

                </div>
                <div class="col-sm-12 col-lg-6">

                    <div class="input-group input-group-lg mt-3">
                        <input class="form-control" type="text" placeholder="Search for a Game" name="name" autocomplete="off" autofocus>
                        <div class="input-group-append">
                            <input type="submit" value="Search" class="input-group-text">
                        </div>
                    </div>

                </div>
                <div class="col-12"><p class="lead">A live database of {{ comma .Count }} Steam games. You can find packages <a href="/packages">here</a>.</p></div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="d-none">
                    {{/* This div is so Chrome auto-fills this one and not the rest! */}}
                        <label for="hidden">Hidden</label>
                        <select multiple data-placeholder="Choose an OS" class="form-control form-control-chosen" id="hidden" name="hidden">
                        </select>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="tags">Tag
                                <small>(<a href="/tags" class="stop-prop">Tags</a>)</small>
                            </label>
                            <select multiple data-placeholder="Choose Tags" class="form-control form-control-chosen" id="tags" name="tags">
                            {{ range $key, $value := .Tags }}
                                <option value="{{ .ID }}">{{ .GetName }}</option>
                            {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="genres">Genre
                                <small>(<a href="/genres" class="stop-prop">Genres</a>)</small>
                            </label>
                            <select multiple data-placeholder="Choose Genres" class="form-control form-control-chosen" id="genres" name="genres">
                            {{ range $key, $value := .Genres }}
                                <option value="{{ .ID }}">{{ .GetName }}</option>
                            {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="developers">Developer
                                <small>(<a href="/developers" class="stop-prop">Developers</a>)</small>
                            </label>
                            <select multiple data-placeholder="Choose Developers" class="form-control form-control-chosen" id="developers" name="developers">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="publishers">Publisher
                                <small>(<a href="/publishers" class="stop-prop">Publishers</a>)</small>
                            </label>
                            <select multiple data-placeholder="Choose Publishers" class="form-control form-control-chosen" id="publishers" name="publishers">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="os">Operating System</label>
                            <select multiple data-placeholder="Choose an OS" class="form-control form-control-chosen" id="os" name="os">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="types">Type</label>
                            <select multiple data-placeholder="Choose Types" class="form-control form-control-chosen" id="types" name="types">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-success btn-block">Search</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-datatable2 mb-0" data-path="/games/ajax">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Game</th>
                            <th scope="col">Type</th>
                            <th scope="col">Score</th>
                            <th scope="col">DLC #</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </form>

</div>
{{ template "_footer" }} {{end}}
