{{define "apps_extended"}} {{ template "_header" . }}

<div class="container" id="apps-extended-page">

    <div class="jumbotron">
        <h1><i class="fas fa-level-up-alt"></i> Apps Extended</h1>
        <p class="lead">{{ .Description }}</p>
    </div>

    <div class="card">
        <div class="card-body">



        </div>
    </div>

</div>

{{ template "_footer" . }} {{end}}
