{{define "changes"}} {{ template "_header" . }}

<div class="container" id="changes-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-exchange-alt"></i> Changes</h1>
        <p class="lead">Every time the Steam library gets updated, a change record is created. We use these to keep website information up to date.</p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <h5 class="float-right mb-0">
                <span class="badge badge-secondary" id="live-badge">Live</span>
            </h5>

        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover table-striped table-datatable2 mb-0" data-path="/changes/ajax">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" nowrap="nowrap">Change</th>
                        <th scope="col" nowrap="nowrap">Date</th>
                        <th scope="col">Apps</th>
                        <th scope="col">Packages</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
