{{define "deals"}} {{ template "_header" . }}

<div class="container" id="news-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-dollar-sign"></i> Deals</h1>
        <p class="lead">Pick up a bargain</p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link{{ if eq $.Tab "changes" }} active{{ end }}" href="/deals/changes" role="tab">Price Changes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if eq $.Tab "free" }} active{{ end }}" href="/deals/free" role="tab">Free Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ if eq $.Tab "discounts" }} active{{ end }}" href="/deals/discounts" role="tab">Highest Discounts</a>
                </li>
            </ul>

        </div>
        <div class="card-body">

        {{ if eq $.Tab "changes" }}

            <div class="table-responsive">
                <table class="table table-hover table-striped table-sorter">
                    <thead>
                    <th scope="col" class="sorter-false"></th>
                    <th scope="col">Game</th>
                    <th scope="col">Release</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Change</th>
                    <th scope="col">Changed</th>
                    </thead>
                {{ range $key, $value := .Changes }}
                    <tr data-link="/apps/{{ .AppID }}" class="{{if gt .Change 0}}table-danger{{end}}{{if lt .Change 0}}table-success{{end}}">
                        <td class="img" width="1%">
                            <img src="{{.GetLogo}}" class="rounded" onError="this.onerror=null;this.src='/assets/img/no-app-image-banner.jpg';">
                        </td>
                        <td class="text-truncate">{{ .AppName }}</td>
                        <td nowrap="nowrap">{{ .ReleaseDate }}</td>
                        <td>${{ .GetPriceFinal }}</td>
                        <td>{{ .Discount }}%</td>
                        <td>${{ .Change }}</td>
                        <td nowrap="nowrap">{{ .GetCreatedDate }}</td>
                    </tr>
                {{ end }}
                </table>
            </div>

        {{ end }}

        {{ if eq $.Tab "free" }}

            <div class="table-responsive">
                <table class="table table-hover table-striped table-sorter">
                    <thead>
                    <tr>
                        <th scope="col" class="sorter-false" width="1%"></th>
                        <th scope="col">Image</th>
                        <th scope="col">Type</th>
                        <th scope="col">Platforms</th>
                        <th scope="col">Install</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $value := .Apps }}
                    <tr data-link="{{ .GetPath }}">
                        <td class="img">
                            <img src="{{ .GetIcon }}" class="rounded">
                        </td>
                        <td>{{ .GetName }}</td>
                        <td>{{ .GetType }}</td>
                        <td>{{ .GetPlatformImages }}</td>
                        <td><a href="{{ .GetInstallLink }}">Install</a></td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>

        {{ end }}

        {{ if eq $.Tab "discounts" }}
            Discounts
        {{ end }}

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
