{{define "discounts"}} {{ template "_header" . }}

<div class="container" id="news-page">

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <h1 class="display-4"><i class="fas fa-dollar-sign"></i> Discounts</h1>
                {{/*<p class="lead">Pick up a bargain</p>*/}}

            </div>
            <div class="col-sm-12 col-lg-6">

                <form>
                    <div class="input-group input-group-lg">
                        <input class="form-control" id="search" type="text" placeholder="Search Discounts" required="required" autocomplete="off" autofocus onkeydown="clearField(event, this);">
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="card">
    {{ template "_deals_header" . }}
        <div class="card-body">

            Discounts

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
