{{define "genres"}} {{ template "_header" . }}

<div class="container" id="genres-page">

    <div class="jumbotron">

        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <h1 class="display-4"><i class="fas fa-film"></i> Genres</h1>
                <p class="lead">{{ len .Genres }} Genres.</p>

            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="input-group input-group-lg">
                    <input class="form-control" id="search" type="text" placeholder="Search for a Genre" required="required" autocomplete="off" autofocus>
                </div>

            </div>
        </div>

    </div>

    <div class="card">
    {{ template "_stats_header" . }}
        <div class="card-body">

            <div class="row">
            {{ range $key, $value := .Genres }}
                <div class="col-sm-4 mb-2" id="genre_{{ .ID }}">

                    <div class="list-group">
                        <a href="{{ .GetPath }}" class="list-group-item list-group-item-action list-group-item-secondary">
                            <i class="fas fa-star"></i>
                            <h6 class="mb-1">{{ .Name }}</h6>
                            <small>{{ .Apps }} Games</small>
                        </a>
                    </div>

                </div>
            {{ end }}
            </div>

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
