{{define "home"}} {{ template "_header" . }}

<div class="container" id="home-page">

    <div class="jumbotron">
        <h1 class="display-4">Steam Authority</h1>
        <p class="lead">See where you come against the rest of the world</p>
    </div>

    <div class="card">
        <div class="card-body">
            <p>Under construction</p>
            <p>Players: {{ comma .PlayersCount}}</p>
            <p>Prices: {{ comma .PricesCount}}</p>
            <p>Ranks: {{ comma .RanksCount}}</p>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}