{{define "info"}} {{ template "_header" . }}

<div class="container" id="info-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-info-circle"></i> Info</h1>
    </div>

    <div class="card">
        <div class="card-header">

            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#faqs" role="tab">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#terms" role="tab">Terms</a>
                </li>
            </ul>

        </div>
        <div class="card-body" style="position: relative;">

            <div class="tab-content">
                <div class="tab-pane show active" id="info" role="tabpanel">

                    <div class="row">
                        <div class="col-7">

                            <h5>Open Source</h5>
                            <p>Steam Authority is open sourced on <a href="https://github.com/steam-authority/steam-authority">GitHub</a> to see exactly what's going on under the hood.</p>

                        </div>
                        <div class="col-5">

                            <p><i class="fab fa-steam-square"></i> <a href="todo">Steam</a></p>
                            <p><i class="fab fa-discord"></i> <a href="https://discord.gg/c5zrcus">Discord</a></p>
                            <p><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/Steam-Authority-113148936171513">Facebook</a></p>
                            <p><i class="fab fa-facebook"></i> <a href="https://github.com/steam-authority">GitHub</a></p>

                        </div>
                    </div>

                    <a href="https://github.com/steam-authority/steam-authority">
                        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
                    </a>

                </div>

                <div class="tab-pane" id="terms" role="tabpanel">

                    <h5>NO WARRANTY</h5>
                    <p>VALVE PROVIDES THE STEAM WEB API, STEAM DATA, AND VALVE BRAND & LINKS "AS IS," "WITH ALL FAULTS" AND "AS AVAILABLE," AND THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY, AND EFFORT IS WITH YOU. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, VALVE , STEAM GAME PUBLISHERS AND DEVELOPERS, AND THEIR SUPPLIERS MAKE NO REPRESENTATIONS, WARRANTIES OR CONDITIONS, EXPRESS OR IMPLIED. VALVE, STEAM GAME PUBLISHERS AND DEVELOPERS, AND THEIR SUPPLIERS EXPRESSLY DISCLAIM ANY
                        AND ALL WARRANTIES OR CONDITIONS, EXPRESS, STATUTORY AND IMPLIED, INCLUDING WITHOUT LIMITATION (A) WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, ACCURACY, TITLE, QUIET ENJOYMENT, NO ENCUMBRANCES, NO LIENS AND NON-INFRINGEMENT, (B) WARRANTIES OR CONDITIONS ARISING THROUGH COURSE OF DEALING OR USAGE OF TRADE, AND (C) WARRANTIES OR CONDITIONS OF UNINTERRUPTED OR ERROR-FREE ACCESS OR USE.</p>
                    <h5>LIABILITY LIMITATION; EXCLUSIVE REMEDY</h5>
                    <p>IN NO EVENT WILL VALVE OR ANY SUPPLIER BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION ANY INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, OR PUNITIVE DAMAGES ARISING OUT OF, BASED ON, OR RESULTING FROM THESE API TERMS OF USE OR YOUR USE OF STEAM WEB API, STEAM DATA, OR VALVE BRAND & LINKS, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE EXCLUSION OF DAMAGES UNDER THIS PARAGRAPH IS INDEPENDENT OF YOUR EXCLUSIVE REMEDY AND SURVIVES IN THE EVENT SUCH
                        REMEDY FAILS OF ITS ESSENTIAL PURPOSE OR IS OTHERWISE DEEMED UNENFORCEABLE. THESE LIMITATIONS AND EXCLUSIONS APPLY WITHOUT REGARD TO WHETHER THE DAMAGES ARISE FROM (A) BREACH OF CONTRACT, (B) BREACH OF WARRANTY, (C) NEGLIGENCE, OR (D) ANY OTHER CAUSE OF ACTION, TO THE EXTENT SUCH EXCLUSION AND LIMITATIONS ARE NOT PROHIBITED BY APPLICABLE LAW. IF YOU DO NOT AGREE WITH ANY PART OF THESE API TERMS OF USE, OR YOU HAVE ANY DISPUTE OR CLAIM AGAINST VALVE OR ITS SUPPLIERS WITH RESPECT TO
                        THESE TERMS OF USE OR THE SERVICES, THEN YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE STEAM WEB API, STEAM DATA, AND VALVE BRAND & LINKS.</p>

                </div>

                <div class="tab-pane" id="faqs" role="tabpanel">

                    <h5>I can not find a player</h5>
                    <p>We only find out about players when they get searched for or via a friend already in our database.</p>

                    <h5>A player exists but does not have a rank</h5>
                    <p>Ranks are not live and get calculated at midnight (GMT), so new players may not have a rank right away.
                        <br/>We may not have access to your stats, you can allow access at by editing your profile on
                        <a href="http://steamcommunity.com">steamcommunity.com</a> and clicking "My Privacy Settings".</p>

                    <h5>How can I help out?</h5>
                    <p>Programmers can submit
                        <a href="https://github.com/steam-authority/steam-authority">pull requests</a>.
                        <a href="/donate">Donations</a> are always welome for everyone else.</p>

                    <h5>How do we gather user data?</h5>
                    <p>Steam has dozens of APIs we can call to get data from them. Everything on Steam Authority is also availible using the steam app.</p>

                    <h5>I found a website bug</h5>
                    <p>Please file an issue on
                        <a href="https://github.com/steam-authority/steam-authority/issues/new">GitHub</a>. Or
                        <a href="/contact">send me an email</a>.</p>

                    <h5>What are future plans for Steam Authority?</h5>
                    <p>See our
                        <a href="https://trello.com/b/mi2sDpBS/steam-authority">Trello</a> workboard or
                        <a href="/contact">email</a> me for ideas.
                    </p>

                </div>
                <div class="tab-pane" id="credits" role="tabpanel">

                    <div class="row">
                        <div class="col-sm-6">

                            <div class="list-group mb-4">
                                <li class="list-group-item disabled">Steam API</li>
                                <a href="https://partner.steamgames.com/doc/webapi_overview" class="list-group-item list-group-item-action">https://partner.steamgames.com/</a>
                            </div>

                            <div class="list-group mb-4">
                                <li class="list-group-item disabled">Logo Design</li>
                                <a href="http://www.tmcreativedesign.co.uk/" class="list-group-item list-group-item-action">http://www.tmcreativedesign.co.uk/</a>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="list-group mb-4">
                                <li class="list-group-item disabled">Inspiration</li>
                                <a href="https://steamladder.com/" class="list-group-item list-group-item-action">steamladder.com</a>
                                <a href="https://steamdb.info/" class="list-group-item list-group-item-action">steamdb.info</a>
                                <a href="https://steamspy.com/" class="list-group-item list-group-item-action">steamspy.com</a>
                                <a href="https://steamcompanion.com/" class="list-group-item list-group-item-action">steamcompanion.com</a>
                                <a href="https://www.steamprices.com/" class="list-group-item list-group-item-action">steamprices.com</a>
                                <a href="https://steamstat.us/" class="list-group-item list-group-item-action">steamstat.us</a>
                                <a href="http://steamcharts.com/" class="list-group-item list-group-item-action">steamcharts.com</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}