{{define "packages"}} {{ template "_header" . }}

<div class="container" id="packages-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-cube"></i> Packages</h1>
        <p class="lead">The last {{ comma .Total }} packages to be updated.</p>
    </div>

    <div class="card">
        <div class="card-body">

        {{/* Packages List */}}
            <div class="table-responsive">
                <table class="table table-hover table-striped table-datatable mb-0">
                    <thead class="thead-light">
                    <th scope="col">Name</th>
                    <th scope="col" nowrap="nowrap">Billing Type</th>
                    <th scope="col" nowrap="nowrap">License Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Apps</th>
                    <th scope="col" data-sort="desc">Time</th>
                    </thead>
                {{ range $key, $value := .Packages }}
                    <tr data-link="/packages/{{ .ID }}">
                        <td>{{.GetName}}</td>
                        <td>{{.GetBillingType}}</td>
                        <td>{{.GetLicenseType}}</td>
                        <td>{{.GetStatus}}</td>
                        <td>{{len .GetApps}}</td>
                        <td data-sort="{{.GetCreatedUnix}}" nowrap="nowrap">{{.GetCreatedNice}}</td>
                    </tr>
                {{ end }}
                </table>
            </div>
        {{ template "_pagination" .Pagination }}

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
