{{define "player"}} {{ template "_header" . }}

<div class="container" id="player-page">

    <div class="jumbotron">
        <img src="{{ .Player.GetAvatar }}" onError="this.onerror=null;this.src='/assets/img/no-player-image.jpg';">
        <h1 class="display-4">
            <i class="fas fa-user"></i> {{ .Player.PersonaName }}
        </h1>
        <p class="lead"></p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#games" role="tab">Games ({{ .Player.GamesCount }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Friends ({{ .Player.FriendsCount }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#badges" role="tab">Badges ({{ .Player.BadgesCount }})</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane show active" id="details" role="tabpanel">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="card mb-4">
                                <div class="card-header">Details</div>
                                <div class="card-body">

                                    <table class="table table-hover mb-0">
                                        <tr>
                                            <th scope="row">Level</th>
                                            <td>{{ .Player.Level }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">On Steam</th>
                                            <td><span data-toggle="tooltip" data-placement="top" title="{{ .Player.GetSteamTimeNice }}" data-livestamp="{{ .Player.GetSteamTimeUnix }}">{{ .Player.GetSteamTimeNice }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Last Sign Off</th>
                                            <td><span data-toggle="tooltip" data-placement="top" title="{{ .Player.GetLogoffNice }}" data-livestamp="{{ .Player.GetLogoffUnix }}">{{ .Player.GetLogoffNice }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Last Updated</th>
                                            <td><span data-toggle="tooltip" data-placement="top" title="{{ .Player.GetUpdatedNice }}" data-livestamp="{{ .Player.GetUpdatedUnix }}">{{ .Player.GetUpdatedNice }}</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Steam profile</th>
                                            <td><a href="{{ .Player.GetSteamCommunityLink }}">{{ .Player.VanintyURL }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Country</th>
                                            <td class="img"><img class="rounded" data-toggle="tooltip" data-placement="top" title="{{ .Player.CountryCode }}" src="{{.Player.GetFlag}}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">State</th>
                                            <td>{{ .Player.StateCode }}</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="card mb-4">
                                <div class="card-header">Ranks
                                    <small class="text-muted float-right">Ranks get updated at midnight (GMT).</small>
                                </div>
                                <div class="card-body">

                                    <table class="table table-hover mb-0">
                                        <tr>
                                            <th scope="row">Level</th>
                                            <td><a href="/players/level">{{ .Ranks.LevelOrdinal }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Games</th>
                                            <td><a href="/players/games">{{ .Ranks.GamesOrdinal }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Badges</th>
                                            <td><a href="/players/badges">{{ .Ranks.BadgesOrdinal }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Time</th>
                                            <td><a href="/players/time">{{ .Ranks.TimeOrdinal }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Friends</th>
                                            <td><a href="/players/friends">{{ .Ranks.FriendsOrdinal }}</a></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="card mb-4">
                                <div class="card-header">Bans</div>
                                <div class="card-body">

                                    <table class="table table-hover mb-0">
                                        <tr>
                                            <th scope="row">Game Bans</th>
                                            <td>{{ .Player.Bans.NumberOfGameBans }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">VAC Bans</th>
                                            <td>{{ .Player.Bans.NumberOfVACBans }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Community Banned</th>
                                            <td>{{.Player.Bans.CommunityBanned}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Economy Ban</th>
                                            <td>{{ .Player.Bans.EconomyBan }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">VAC Banned</th>
                                            <td>{{ .Player.Bans.VACBanned }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Last Ban</th>
                                            <td>{{ .Player.Bans.DaysSinceLastBan }} days</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="friends" role="tabpanel">

                    {{/* Friends */}}
                    <div class="row friend mb-0">
                    {{ range $key, $value := .Friends }}

                    {{ if ne .PersonaName "" }}
                        <a href="{{.GetPath}}" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                            <img src="{{ .GetAvatar }}" class="rounded" onError="this.onerror=null;this.src='/assets/img/no-player-image.jpg';">
                            <span class="float-right badge badge-secondary badge-pill">{{ .Level }}</span>
                            <span>{{ .PersonaName }}</span>
                        </a>
                    {{else}}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                            <img src="/assets/img/no-player-image.jpg" class="rounded">
                            <span class="float-right badge badge-secondary badge-pill">?</span>
                            <span class="text-muted"><a href="/queues">Queued</a> <i class="fas fa-spinner fa-spin"></i></span>
                        </div>
                    {{end}}

                    {{ end }}
                    </div>

                </div>
                <div class="tab-pane" id="badges" role="tabpanel">

                    {{/* XP Info */}}
                    <table class="table table-hover mb-0">
                        <tbody>
                        <tr>
                            <th scope="row" width="15%">Level</th>
                            <td><a href="/experience/{{ .Player.Level }}">{{ comma .Player.Level }}</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Experience</th>
                            <td><a href="/experience/{{ .Player.Level }}">{{comma .Player.Badges.PlayerXP}}</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Next Level In</th>
                            <td><a href="/experience/{{ .Player.Level }}">{{comma .Player.Badges.PlayerXPNeededToLevelUp}}</a></td>
                        </tr>
                        <tr>
                            <th scope="row">This Level</th>
                            <td>
                                <div class="progress mb-3">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{.Player.Badges.GetLoadingBar}}%">{{.Player.Badges.GetPercentOfLevel}}%</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {{/* Badges */}}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-sorter mb-0">
                            <thead>
                            <th scope="col">ID</th>
                            <th scope="col">Level</th>
                            <th scope="col">Acquired</th>
                            <th scope="col">XP</th>
                            <th scope="col">Owners</th>
                            <th scope="col">App</th>
                            </thead>
                        {{ range $key, $value := .Player.Badges.Badges }}
                            <tr>
                                <td>{{ comma .BadgeID }}</td>
                                <td>{{ comma .Level }}</td>
                                <td nowrap="nowrap">{{ .GetTimeNice }}</td>
                                <td>{{ comma .XP }}</td>
                                <td>{{ comma .Scarcity }}</td>
                                <td>{{if ne .AppID 0}}<a href="/apps/{{ .AppID }}">{{ .AppID }}</a>{{end}}</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>

                </div>
                <div class="tab-pane" id="games" role="tabpanel">

                    {{/* Recent Games */}}
                {{ if gt (len .Player.GamesRecent) 0}}
                    <h5>Recent Games</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-sorter">
                            <thead>
                            <th scope="col" width="1%" class="sorter-false"></th>
                            <th scope="col">Game</th>
                            <th scope="col">2 Weeks</th>
                            <th scope="col">All Time</th>
                            </thead>
                        {{ range $key, $value := .Player.GamesRecent }}
                            <tr data-link="/apps/{{ .AppID }}">
                                <td class="img">
                                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ .AppID }}/{{ .ImgLogoURL }}.jpg" class="rounded">
                                </td>
                                <td>{{ .Name }}</td>
                                <td>{{ .GetTwoWeeks }}</td>
                                <td>{{ .GetAllTime }}</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>
                {{end}}

                        {{/* Games List */}}
                    <h5>Games Library</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-sorter mb-0">
                            <thead>
                            <th scope="col" class="sorter-false"></th>
                            <th scope="col">Game</th>
                            <th scope="col" class="sorter-digit">Price</th>
                            <th scope="col" class="sorter-digit">Time (Minutes)</th>
                            <th scope="col" class="sorter-digit">Price/Hour</th>
                            </thead>
                        {{ range $key, $value := .Games }}
                            <tr{{if ne .ID 0}} data-link="/apps/{{ .ID }}"{{end}}>
                                <td class="img">
                                    <img src="{{ .Icon }}" class="avatar rounded">
                                </td>
                                <td>{{ .Name }}</td>
                                <td>${{ .Price }}</td>
                                <td>{{ comma .Time }}</td>
                                <td>${{ .GetPriceHour }}</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}