{{define "price_changes"}} {{ template "_header" . }}

<div class="container" id="price-changes-page">

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <h1 class="display-4"><i class="fas fa-dollar-sign"></i> Price Changes</h1>
            {{/*<p class="lead">Pick up a bargain</p>*/}}

            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="input-group input-group-lg mt-3">
                    <input class="form-control" id="search" type="text" placeholder="Search Price Changes" required="required" autocomplete="off" autofocus>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
    {{ template "_deals_header" . }}
        <div class="card-body">

            <form class="mb-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hide-red">
                    <label class="form-check-label" for="hide-red">Hide Raises</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hide-green">
                    <label class="form-check-label" for="hide-green">Hide Drops</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hide-apps">
                    <label class="form-check-label" for="hide-apps">Hide Apps</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hide-packages">
                    <label class="form-check-label" for="hide-packages">Hide Packages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hide-owned">
                    <label class="form-check-label" for="hide-owned">Hide Owned</label>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-hover table-striped table-datatable">
                    <thead class="thead-light">
                    <th scope="col" width="1%" data-disabled></th>
                    <th scope="col">Game</th>
                    <th scope="col">Release</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Change</th>
                    <th scope="col">(%)</th>
                    <th scope="col" data-sort="desc">Changed</th>
                    </thead>
                {{ range $key, $value := .Changes }}
                    <tr data-link="{{ .GetPath }}" data-app-id="{{ .AppID }}" data-package-id="{{ .PackageID }}" class="{{if gt .Change 0}}table-danger{{end}}{{if lt .Change 0}}table-success{{end}}">
                        <td class="img" width="1%">
                            <img src="{{.GetIcon}}" class="rounded" onError="this.onerror=null;this.src='/assets/img/no-app-image-banner.jpg';">
                        </td>
                        <td data-app-id="{{ .AppID }}">{{ .Name }}</td>
                        <td data-order="{{ .ReleaseDateUnix }}" nowrap="nowrap">{{ .ReleaseDateNice }}</td>
                        <td>${{ .GetPriceFinal }}</td>
                        <td>{{ .Discount }}%</td>
                        <td>${{ .GetChange }}</td>
                        <td>{{ .GetChangePercent }}%</td>
                        <td data-order="{{.GetCreatedUnix}}" nowrap="nowrap">{{ .GetCreatedNice }}</td>
                    </tr>
                {{ end }}
                </table>
            </div>

        {{ template "_pagination" .Pagination }}

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
