{{define "tags"}} {{ template "_header" . }}

<div class="container" id="tags-page">

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <h1 class="display-4"><i class="fas fa-tag"></i> Tags</h1>
                <p class="lead">{{ len .Tags }} Tags.</p>

            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="input-group input-group-lg">
                    <input class="form-control" id="search" type="text" placeholder="Search for a Tag" required="required" autocomplete="off" autofocus>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
    {{ template "_stats_header" . }}
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover table-striped table-datatable">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Tag</th>
                        <th scope="col" class="sorter-digit" data-sort="desc">Games</th>
                        <th scope="col" class="sorter-digit" nowrap="nowrap">Avg Price</th>
                        <th scope="col" class="sorter-digit" nowrap="nowrap">Avg Discount</th>
                    </tr>
                    </thead>
                    <tbody class="tags-list">
                    {{ range $key, $value := .Tags }}
                    <tr data-link="{{.GetPath}}">
                        <td>{{ .GetName }}</td>
                        <td>{{ comma .Apps }}</td>
                        <td>${{ .GetMeanPrice }}</td>
                        <td>{{ .GetMeanDiscount }}%</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>

            </div>

        </div>
    </div>


</div>

{{ template "_footer" }} {{end}}
